body {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2em;
  font-family: 'Linux Libertine', Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  margin: 1.2em 0 0.6em 0;
}

p {
  line-height: 1.5em;
  margin: 1.6em 0;
}

pre {
  background: #ded;
  border-top: double 3px #666;
  border-bottom: double 3px #666;
  padding: 1em;
  font: normal normal normal medium/1.2 Consolas, 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

.exercises {
  border-top: double 3px #666;
  background: #abc;
  padding: 1ex 1.5em 1ex 1.5em;
}
